@{
    ViewData["Title"] = "Home Page";
    var urlRetorno = "hola";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href=\"https://localhost:7152/Cuentas/ResetPassword?userId=dbce60bb-f2cd-46fd-8bd8-a8e01d7ed7a8&code=CfDJ8Kp8ntT%2FDM1PttElAWSpuUkMivYx8PpqQ1lPFVGXhdx3AQogvPHtnEveXuPStWgd%2B3%2FNJgm5T1vyJSRNFZSWNcLI9j3xBCW3WiaDtr2E8WmR8oareT91dzNsbqkHg%2F9wvoPxFCFt5S%2BlYTYJ7bTpIPT6dd8JL%2BjXpAQ%2Bv8Qmy80OFKjEOtrt2xqEEGdJ9kkIQ0A7fQGC8rAbRdZivtttLTX4ToxCYp%2FD696FCJmHMTyn\">enlase</a>"
    
</div>

